.control-bar {
    -fx-background-image: url("../img/controlBar/menu3.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1540px 250px;
    -fx-min-height: 250px;
    -fx-translate-y: 625;
}

.test {
    -fx-min-height: 800px;
    -fx-min-width: 1540px;
    -fx-background-color: rgba(186, 231, 250, 0.34);
}
.meat {
    -fx-background-image: url("../img/food/meat.jpg");
    -fx-background-repeat: no-repeat;
}